.tab-header {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

.tab-header li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  border: 1px solid #a6a6a685;
  margin-right: 0.25rem;
  background: white;
  color: black;
  .close {
    color: black;
  }
}

.tab-header li:hover {
  background-color: #617aa036;
}

.tab-header li.active {
  background: #617aa0;
  color: white;
  .close {
    color: white;
  }
}

.close {
  margin-left: 0.5rem;
  cursor: pointer;
}
